/* ::: ACCIO-BOOKS.COM CSS ::: */
/* :::::::::::::::::::: */

/*#region ::: BASICS ::: */

body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.02em;
    padding: 5px 5px;
    line-height: 1.4;
    background-color: white;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

p {
    width: 90%;
    text-align: left;
    padding: 8px 28px 8px 28px;
    letter-spacing: -0.02em;
    line-height: 1.4;
    font-weight: 500;
    color: #4b4e6c;
    background-color: white;
}

/* CURSOR OVERRIDES */

body, div, p {
    cursor: default;
}

.button-class {
    cursor: pointer;
}

a {
    cursor: pointer;
}

/*#endregion ::: BASICS ::: */

/*#region ::: LINKED SITES LIST ::: */

.sites-list {
    white-space: normal;
    word-break: keep-all;
    font-style: italic;
    font-size: 0.80em;
    letter-spacing: .04rem;
    color: #70738F
}

.sites-list span {
    white-space: nowrap;
    position: relative;
}

/*#endregion LINKED SITES LIST */

/*#region ::: SEARCH FORM AREA ::: */

/* Positioning for text entry box */
.searchInputWrapper {
    position: relative;
}

/* Normal state */
.searchInputWrapper input[type="text"] {
    height: 3em;
    width: 95%;
    padding: 10px 20px;
    padding-inline: 20px;
    font-size: 16px;
    color: #36395A;
    background-color: #e9e3f542;
    border: 1px solid #D6D6E7;
    border-radius: 8px;
    transition: box-shadow .15s, transform .15s;
    box-sizing: border-box;
    box-shadow: rgba(45, 35, 66, 0.2) 0 1px 4px,
                rgba(45, 35, 66, 0.1) 0 3px 13px -3px;
}

/* Hover state */
.searchInputWrapper input[type="text"]:hover {
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
                rgba(45, 35, 66, 0.1) 0 7px 13px -3px,
                rgba(45, 35, 66, 0.2) 0px 1px 4px -2px inset,
                rgba(45, 35, 66, 1) 0 -2px 7px -5px inset,
                rgba(214, 214, 231, .4) 0 -1px 0 inset;
}

/* Focus state */
.searchInputWrapper input[type="text"]:focus {
    outline: none; 
    /* Removing default outline for better focus styling */
    box-shadow: #D6D6E7 0 0 0 1.5px inset,
                rgba(45, 35, 66, 0.4) 0 -2px 4px inset,
                rgba(45, 35, 66, 0.3) 0 -1px 13px -3px inset,
                #D6D6E7 0 3px 0 inset;
}

/* When typing text */
.searchInputWrapper:focus-within input[type="text"] {
    background-color: 
        #9da1b021;
    box-shadow: 
        rgba(45, 35, 66, 0.4) 0 -2px 4px,
        rgba(45, 35, 66, 0.4) 0 3px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #c8cadc99 0 -1px 0 inset;
}

/* Search 'Accio Books' button positioning */
.searchButton {
	padding: 1.2em 1.25em;
	text-align: right;
}

/* Search 'Accio Books' button styling */
input[type="submit" i] {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 15px;
    border-width: 0;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    letter-spacing: -0.01em;
    word-spacing: -0.1em;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    text-align: right;
    text-decoration: none;
    transition: 
        box-shadow .15s, 
        transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 
        rgba(45, 35, 66, 0.4) 0 2px 4px, 
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
        #D6D6E7 0 -3px 0 inset;
}

/* Search button Focus */
input[type="submit" i]:focus {
    outline:none;
    box-shadow: 
        #D6D6E7 0 0 0 1.5px inset, 
        rgba(45, 35, 66, 0.4) 0 2px 4px, 
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
        #D6D6E7 0 -3px 0 inset;
}

/* Search button Hover */
input[type="submit" i]:hover {
    transform: translateY(2px);
    box-shadow: 
        rgba(45, 35, 66, 0.4) 0 4px 8px, 
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
        #D6D6E7 0 -3px 0 inset;
}

/* Search button Active */
input[type="submit" i]:active {
    transform: translateY(2px);
    box-shadow: 
        #D6D6E7 0 3px 7px inset;
}

/*#endregion ::: SEARCH FORM AREA ::: */

/*#region ::: SEARCH RESULTS ::: */
/* Results Styling */
#results {
    margin: 50px 3vw;
    text-align: left;
    font-family: 'Roboto Slab', sans-serif;
}

/* Overall styling for both result types */
.result-container--mono,
.result-container--duo {
    display: flex; /* Ensure flexbox is used */
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: baseline;
    appearance: none;
    background-color: #FCFCFD;
    border-bottom: 1px solid #d6d6e7a8;
    padding: 15px 5px;
    border-radius: 2px;
    box-sizing: border-box;
    color: #36395A;
    cursor: default;
    transition: 
        background-color 0.3s ease, 
        box-shadow 0.3s ease;
}

/* GROUP: dot (◦), site name, and referral url (when duo) */
.result-details--mono,
.result-details--duo {
    display: block; /* Force a new line */
    flex-basis: 100%; /* Forces the details to take full width */
    width: 100%; /* Ensures the details span the entire width */
    margin-top: 5px; /* Adds a bit of spacing from the previous line */
}

/* Main URL styling for both result types */
.result-url--mono,
.result-url--referral {
    font-size: 1.25em;
    text-decoration: none;
    color: #343daf;
    flex-grow: 1;
    font-weight: 600;
    transition: color .15s, transform .15s;
}

/* Hover effect for hyperlink */
.result-url--referral:hover,
.result-url--mono:hover {
    color: #1856f9;
    text-decoration: underline;
    transform: translateY(-2px); /* Slightly more noticeable lift */
}

/* Separator dot (◦) for both result types */
.result-separator--mono,
.result-separator--duo {
    font-size: 1.05em;
    color: #7a7a7a; /* Subtle gray color for the separator */
}

/* Styling Site Name (after ◦) */
.result-sitename--mono,
.result-sitename--duo {
    font-weight: 500;
    color: #555555; /* Slightly darker color for the site name */
}

.result-url--non-referral {
    /* Styles for non-referral URL */
    text-decoration: none;
    letter-spacing: -0.04em;
    font-size: .9em;
    font-weight: 100;
    color: #888888; /* Subtle gray for non-referral URL */
}
/*#endregion ::: SEARCH RESULTS ::: */

/*#region ::: DARK MODE ::: */

html {
    filter: invert(0);
    transition: filter 0.3s ease-in-out;
}

.dark-mode {
    filter: invert(1);
}

/* TOGGLE BUTTON  */

#dark-mode-toggle {
    align-items: center;
    margin-left: 3vw;
    margin-bottom: 20px;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 
        rgba(45, 35, 66, 0.4) 0 2px 4px, 
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
        #D6D6E7 0 -3px 0 inset;
    box-sizing: content-box;
    color: #36395A;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 7px;
    position: relative;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    float: none;
}

.dark-toggle {
    text-align: left;
    clear: both;
    /* AMAZING HACK to shrink-wrap div for tooltip hover */
    display: contents;
}

#dark-mode-toggle:focus {
    box-shadow: 
        #D6D6E7 0 0 0 1.5px inset, 
        rgba(45, 35, 66, 0.4) 0 2px 4px, 
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
        #D6D6E7 0 -3px 0 inset;
}

#dark-mode-toggle:hover {
    box-shadow: 
        rgba(45, 35, 66, 0.4) 0 4px 8px, 
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
        #D6D6E7 0 -3px 0 inset;
    transform: translateY(2px);
}

#dark-mode-toggle:focus,
*:hover {
    outline: none;
}

#dark-mode-toggle:active {
    box-shadow: 
        #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* tooltip */
[data-title]:hover::after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}

[data-title]::after {
    content: attr(data-title);
    background-color: #FCFCFD;
    color: #36395A;
    font-size: 80%;
    position: absolute;
    width: fit-content;
    border-radius: 20px;
    padding: 3px 10px;
    bottom: auto; /* Position tooltip above the button */
    transform: translateX(-110%) translateY(-90px); /* Adjust position */
    white-space: nowrap;
    box-shadow: 
        rgba(45, 35, 66, 0.2) 0px -1px 6px -1px, 
        rgb(201, 201, 221) 0px 3px 8px -4px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

[data-title] {
    position: relative;
}

/* TOOLTIP */

[data-title]:hover::after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]::after {
    content: attr(data-title);
    background-color: #FCFCFD;
    color: #36395A;
    font-size: 80%;
    position: absolute;
    width: fit-content;
    border-radius: 20px;
    padding: 3px 10px;
    bottom: auto;
    left: 50%;
    transform: translateX(-110%) translateY(-90px);
    white-space: nowrap;
    box-shadow: 
        rgba(45, 35, 66, 0.2) 0px -1px 6px -1px, 
        rgb(201, 201, 221) 0px 3px 8px -4px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

[data-title] {
    position: relative;
}

/* Adjustments for mobile devices */
/* 471-768px */
@media (max-width: 768px) {
    [data-title]::after {
        transform: translateX(-75%) translateY(-52px);
}
}

/* 410px-470px */
@media (max-width: 470px) {
    [data-title]::after {
        transform: translateX(-60%) translateY(-50px);
}
}

/* 371px-410px */
@media (max-width: 410px) {
    [data-title]::after {
        transform: translateX(-50%) translateY(-50px);
}
}

/* 320px-370px */
@media (max-width: 370px) {
    [data-title]::after {
        transform: translateX(-40%) translateY(-50px);
}
}

/*#endregion ::: DARK MODE ::: */

/*#region ::: ERROR HANDLING ::: */

#error {
    color: red;
}
/*#endregion ::: ERROR HANDLING ::: */

/*#region ::: FONTS ::: */

/* Roboto Slab */
@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/RobotoSlab-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('Fonts/Roboto-Slab/robotoslab-variablefont_wght-webfont.woff2') format('woff2'),
         url('Fonts/Roboto-Slab/robotoslab-variablefont_wght-webfont.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

/*#endregion ::: FONTS ::: */

/* :::::::::: */
/*#region ::: LEARNMORE.HTML ::: */

/* checkmark list */
ul {
    list-style-type: none;
    /* Removes bullet points */
}

ul li.checkmark::before {
    content: "\2713";
    /* Adds a check mark before each list item */
    color: green;
    /* Sets the color of the bullet */
    padding-right: 8px;
    /* Adds space between the bullet and the text */
}
/*#endregion ::: LEARNMORE.HTML ::: */

/*#region ::: FUNNY ::: */

/* Pretty sure I'm hilarious!

.tbr-pile::before {
  content: "Warning: ";
  font-weight: bold;
}

.tbr-pile {
  height: 90vh;
  overflow: visible;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  content: "I will definitely read these soon... probably.";
  background: url('bookshelf-infinity.jpg');
  animation: grow 10s infinite;
}

.tbr-pile:hover {
  transform: scale(1.2);
  content: "Just added five more books! (Oh no, here comes ten more!)";
}

.tbr-pile:after {
  content: "...and counting";
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 2rem;
}

@keyframes grow {
  0% { transform: scale(1.1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1.1); }
}
*/
/*#endregion ::: FUNNY ::: */